<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kaelyntoth.guiexploring_feb5" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiscoverySettingsActivity"
            android:label="@string/title_activity_discovery_settings" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".MenuContactPage"
            android:label="@string/title_activity_menu_contact_page" >
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page" >
        </activity>
    </application>

</manifest>
